___

<a> <img src='DataWorkflow_LowRes.png' width="600"/></a>
___
# Data Workflow Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming or recomended data workflows. It is simply to give some examples of what your process may resemble.

**This notebook is just a potential reference, any and all of the example can be altered or a different approach taken altogether.**
____

## Processing
This is the stage where the data will be combined and turned into usable formats for analysis. This stage is often combined with the analyis stage. The main goal is to make datasets ready for exploratory data analysis, comparison, and statistical analyis. This is often referred to as data cleanup and may take place in Excel, Python, or other programs.

### Import Libraries for Use

In [1]:
import pandas as pd
import datetime as dt
import numpy as np

### Check Data

In [2]:
# Import dataframes
df_weather = pd.read_excel('Example_HourlyWeatherData.xlsx')
df_lab = pd.read_excel('Example_MultivariateExperiments.xlsx')
df_timeseries = pd.read_excel('Example_TimeSeriesProductivity.xlsx')

In [3]:
# An example of some useful functions to check data
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        8760 non-null   datetime64[ns]
 1   Light       8760 non-null   float64
 2   PPF         8760 non-null   int64
 3   Air_Temp    8760 non-null   float64
 4   Rel_Hum     8760 non-null   float64
 5   Water_Temp  8760 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 410.8 KB

In [4]:
df_weather.head()

                 Date       Light  PPF  Air_Temp    Rel_Hum  Water_Temp
0 2021-01-01 00:00:00  559.485333    0      -2.9  79.798762    12.74412
1 2021-01-01 01:00:00  559.485333    0      -3.2  80.364525    12.63696
2 2021-01-01 02:00:00  559.485333    0      -3.2  79.753412    12.63696
3 2021-01-01 03:00:00  559.485333    0      -3.3  80.349778    12.60124
4 2021-01-01 04:00:00  559.485333    0      -3.4  80.335015    12.56552

In [5]:
df_weather.tail()

                    Date       Light  PPF  Air_Temp    Rel_Hum  Water_Temp
8755 2021-12-31 19:00:00  558.588664    0      -2.1  77.532570    13.02988
8756 2021-12-31 20:00:00  558.588664    0      -2.3  78.090880    12.95844
8757 2021-12-31 21:00:00  558.588664    0      -2.4  78.074717    12.92272
8758 2021-12-31 22:00:00  558.588664    0      -2.6  78.638823    12.85128
8759 2021-12-31 23:00:00  558.588664    0      -2.8  79.208449    12.77984

In [7]:
df_weather.shape

(8760, 6)

In [9]:
df_weather.dtypes

Date          datetime64[ns]
Light                float64
PPF                    int64
Air_Temp             float64
Rel_Hum              float64
Water_Temp           float64
dtype: object